<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1">
      <label for="SearchBox">Search</label>
      <input id="SearchBox" type="text" [(ngModel)]="filterString">
    </div>
  </div>
  <div class="row">
    <button class="btn btn-primary" (click)="onAddServer()">
      Add New Server
    </button>
    Value:{{delayedValue| async}}
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers| filter:filterString:'status'" 
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge">
            {{ server.status }}
          </span>
          <strong>{{ server.name| shorten:15 }}</strong> |
          {{ server.instanceType|uppercase }} |
          {{ server.started|date:'fullDate' }}
        </li>
      </ul>
    </div>
  </div>
</div>
