<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group" ngModelGroup="FormData" #formData="ngModelGroup">
          <div id="email-section">
            <label for="email">Email:</label>
            <input type="email"
             class="form-control" 
             ngModel 
             name="email" 
             #email="ngModel"
             required
             email>
          </div>
          <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email</span>
          <div id="subscription-section">
            <label for="subscriptionType">Subscription Type:</label>
            <select class="form-control"
             ngModel 
            [ngModel]="defaultSubscriptionType" 
            name="subscriptionType">
              <option value="basic">Basic</option>
              <option value="advanced">Advanced</option>
              <option value="pro">Pro</option>
            </select>
          </div>
          <div id="password-section">
            <label for="password">Password:</label>
            <input class="form-control" id="password" type="password" ngModel name="password" required #password="ngModel">
          </div>
        </div>
        <span class="help-block" *ngIf="!password.valid && password.touched">Please enter a valid password</span>
        <button type="submit" [disabled]="!formData.valid" class="btn btn-primary">Submit</button>

        <div class="help-block" 
        *ngIf="!formData.valid && formData.touched">
          Please entere valid data
        </div>
      </form>
      <div *ngIf="formSubmitted">
        <p>These are the values entered</p>
        <p>email:{{userSubmittedData.email}}</p>
        <p>Subscription Type:{{userSubmittedData.subscriptionType}}</p>
        <p>password:{{userSubmittedData.password}}</p>
      </div>
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
    </div>
  </div>
</div>
